$blue: #3f64af;

@font-face {
  font-family: "Realtime Rounded";
  src: local("Realtime Rounded"),
  url("/fonts/Black/realtimerounded-black-webfont.woff2") format('woff2'),
  url("/fonts/Black/realtimerounded-black-webfont.woff") format('woff');
  font-weight: 900;
}

:focus {
  outline-color: $blue;
  outline-width: 2px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", sans-serif;

  margin: 0 auto;
  max-width: 600px;

  font-size: 20px;
}

a {
  text-decoration: none;
  color: $blue;
  padding: 2px;
  transition: all 0.35s ease;
}

a:hover,
a:focus {
  color: darken($blue, 25%);
  text-decoration: line-through;
  transition: all 0.35s ease;
}

header {
  height: 250px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  font-family: "Realtime Rounded";
  font-weight: 900;
}

header > h1 {
  font-size: 2.5rem;
  margin: 16px;
}

header > p {
  font-size: 1.5rem;
}

section {
  margin: 16px;
}

section {
  margin-top: 50px;
}

footer {
  margin: 50px 16px 16px 16px;
}

.circle {
  position: fixed;
  top: 350px;
  right: 45px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: -1;
  background-color: $blue;
  opacity: 0.5;
}
